.row_container {
	border: groove 1em red;
	width: 90%;
	margin: auto;
	border-width: 4px 2px 2px 4px; 
	border-radius: 1em;
}

.list_card {
	width: 100%;
	/* margin: auto; */
	text-align: left;
	list-style-type: none;
	padding: 0.3rem;
  	border-radius: 5px;
  	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.dots_hide_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}