.background {
    opacity: 0.6; 
    background-image: url("../../assets/art/world.topo.light.1920x960.jpg"); 
    height: 100%; 
    width: 100%; 
    object-fit: contain; 
    z-index: 1000; 
    background-repeat:no-repeat; 
    background-size:cover; 
    background-position:center;
}